<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-brands fa-airbnb">TravelNest</i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"

    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/placelist">All Placelist</a>
        <a class="nav-link" href="/placelist/new">Add New Placelist</a>
        
      </div>
    </div>
    <a href="/login" class="btn btn-outline-primary float-right p-2" role="button">Login</a>
    <a href="/signup" class="btn btn-outline-primary float-right p-2" role="button">Signup</a>
  </div>
</nav>
