<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelNest</title>
</head>
<body>
    
    <form method="POST" action="/placelist">
        <input name="title" placeholder="Enter title">
    </form>
</body>
</html>