<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="cols-8 offset-2">
      <br /><br />
      <h3>Create New Placelist</h3>
      <form
        method="POST"
        action="/placelist"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div>
          <label for="title" class="form-label">Title</label>
          <input
            name="placelist[title]"
            placeholder="Enter title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
        </div>

        <br />
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea
            name="placelist[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description!</div>
        </div>

        <br />

        <div>
          <label for="image" class="form-label">Upload image</label>
          <input
            name="placelist[image]"
            type="file"
            class="form-control"
            required
          />
        </div>

        <br />
        <div class="row">
          <div class="col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="placelist[price]"
              placeholder="Enter price"
              type="number"
              class="form-control"
              required
            />
          </div>

          <br />
          <div class="col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="placelist[country]"
              placeholder="Enter country"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="invalid-feedback">Country name should be valid!</div>
        </div>

        <br />
        <div>
          <label for="location" class="form-label">Location</label>
          <input
            name="placelist[location]"
            placeholder="Enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid!</div>
        </div>
        <br />
        <button class="btn btn-dark add-btn">Save</button>
        <br /><br />
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
